[2014-10-03 14:57] kibiz0r opened #1 "Wait until record deletion is persisted before resolving promise from deleteRecord"
DS.LFAdapter.deleteRecord calls persistData and then immediately resolves the deletion promise:
https://github.com/genkgo/ember-localforage-adapter/blob/master/localforage_adapter.js#L287

This seems wrong, for one thing, but might this also open the door to find()s incorrectly retrieving an about-to-be-deleted record?

It's hard for me to tell at the moment because of another issue, which I will

[2014-10-03 15:05] kibiz0r opened #2 "Failure to find a record should reject the find() promise, instead attempts to push an empty record"
Given that I'm using an LFAdapter and no records exist, when I call DS.Store.find() with some type and id, then I should get a rejected promise.

Instead, the LFAdapter resolves with an empty record, and DS.Store complains about trying to push a hash with no id.

It appears that the guard at:
https://github.com/genkgo/ember-localforage-adapter/blob/master/localforage_adapter.js#L153
...should be a

[2014-10-22 14:26] #1 closed, assigned to nobody

[2014-11-03 14:39] #2 closed, assigned to nobody

[2015-01-11 14:21] frederikbosch opened #6 "CRUD: changes in bulk"
Test 44 fails.

[2015-01-11 14:44] frederikbosch opened #7 "Publish addon to emberaddons.com"
I have no idea yet how to do this.

[2015-01-11 14:45] frederikbosch commented on #6
@arenoir Do you know how to do this?

[2015-01-11 14:53] frederikbosch commented on #7
Never mind, emberaddons.com picks it up automatically, it is there already.

[2015-01-11 14:53] #7 closed

[2015-01-11 18:08] arenoir commented on #6
I am planning on rewriting some of the tests this one especially.  They are quite fragile right now.

[2015-01-11 18:08] arenoir opened #8 "Add to NPM"

[2015-01-11 18:57] frederikbosch commented on #6
@arenoir Sorry, my reply supposed to be for the already closed bug #7. I will investigate how to fix this particular test. If you plan to rewrite test: go ahead!

[2015-01-11 18:58] frederikbosch commented on #8
https://www.npmjs.com/package/ember-localforage-adapter

[2015-01-11 18:58] #8 closed

[2015-01-11 19:09] frederikbosch commented on #8
Added badges for both npm and bower

[2015-01-12 08:48] frederikbosch opened #10 "remove concatenated file localforage_adapter.js"
it should be safe to remove localforage_adapter.js which is in the root of the project

[2015-01-12 20:29] #6 closed

[2015-01-12 20:31] #10 closed

[2015-01-12 20:34] arenoir opened #11 "Update readme."

[2015-01-12 20:51] #11 closed

[2015-01-14 12:51] frederikbosch opened #13 "Cache data gets modified outside cache"
This bug prevents to store data later on: results in DataCloneError. Cache should return copies instead of insert initial value.

[2015-01-14 12:57] #13 closed

[2015-01-17 16:54] sbounmy opened #14 "transform deserialized twice"
I have a custom transform which basically convert day to seconds:

[code]
using localstorage, when saving a post with readyIn set to 3:
- readyIn is properly serialized to 259 200 in localstorage web inspector
- readyIn is equal undefined in ember inspector simply because ```deserialize``` is called **twice**...

[2015-01-18 17:19] #14 closed

[2015-02-16 13:13] RuslanZavacky opened #16 "TypeError: Invalid fullName: `model:@each`, must be of the form `type:name`"
I've installed addon, created adapter & model. I am using pods for structure:

I've created:
app/pods/application/cache/adapter.js

[code]

app/pods/application/cache/model.js

[code]

Then trying to do search:

[code]

When application starts I see a bunch of warning in the console:

[code]

And an error in the end

[code]

Any clue, what might cause this?

[2015-02-16 13:25] frederikbosch commented on #16
To be honest, I have no experience with pods. The error are a littile familiar: since Ember beta 14 you will be seeing warnings when you are setting a property that is not part of the model. I am afraid I cannot be of help here.

[2015-02-24 08:56] RuslanZavacky commented on #16
@frederikbosch do you have any gist/jsbin on how this addon is working? As its seems really strange...

When you try to update record, first need to find it. If record is not found, its anyway says as it is found.

Then to update such "ghost" record need to actually create it. After you've created it, its not possible to update it.

Am I only one who have such problems? Or I am one who is trying t

[2015-02-24 23:15] RuslanZavacky commented on #16
I've solved the riddle :)

[2015-02-25 08:46] frederikbosch commented on #16
Well, that is great. Could you post the solution? Perhaps you are helping other users when they have the same issue. Then I can close it too.

[2015-02-25 08:47] RuslanZavacky commented on #16
@frederikbosch I'll contribute to the README in following days :)

[2015-02-25 09:27] frederikbosch commented on #16
That would be great!

[2015-03-11 13:18] frederikbosch commented on #16
Any news on this? :)

[2015-03-11 13:20] RuslanZavacky commented on #16
@frederikbosch give me a couple more days, I have it on roadmap :)

[2015-03-25 14:54] Chun-Yang opened #18 "Ember Data v1.0.0-beta.16.x deprecation"
I get the following deprecation warnings when switching to Ember Data v1.0.0-beta.16
[code]

I would like to make a pull request. Or someone is working this already?

[2015-03-25 15:31] frederikbosch commented on #18
@Chun-Yang The last release of this package was done with beta 14 of Ember Data. So if you could provide a pull request, that would be great. I will then merge as quickly as possible. Thanks anyway for your providing useful feedback!

[2015-03-25 15:31] #16 closed

[2015-03-25 16:34] Chun-Yang commented on #18
@frederikbosch I can not run ```ember server``` using the previous ember-cli, so I updated ember-cli. Also ember is also updated to 1.10.0. Tests all passed.

Please tell me what you think about it.

[2015-03-25 16:36] frederikbosch commented on #18
Looks great. I'll wait for Travis before merging and tagging.

[2015-03-25 16:59] Chun-Yang commented on #18
It seems there are some jshint errors:
[code]

I can solve the ['_embedded'] one, can you configure travis to use esnext option?

[2015-03-25 17:03] frederikbosch commented on #18
@Chun-Yang I think you can do that by changing .travis.yml: it is in the root of the project.

[2015-03-25 17:16] Chun-Yang commented on #18
OK, all passed.

[2015-03-25 20:17] frederikbosch commented on #18
Great! But now there are two jshint file: one in tests/.jshintrc and one in the root. I do not believe the latter should be necessary, or is it?

[2015-03-25 20:20] Chun-Yang commented on #18
Just tested it. It is not necessary. Already deleted in the PR.

[2015-03-25 20:23] frederikbosch commented on #18
Perfect, thanks for the help, much appreciated!

[2015-03-30 15:52] iamolivinius commented on #10
Actually I found this file pretty useful in case I wanted to create and share a demo on jsbin.

Would it be possible to add a dist folder with a concatenated/transpiled UMD module?

[2015-03-30 16:11] iamolivinius opened #20 "Publish a new release to be compatible with latest ember-data"
Please create a new release of the current master branch.

README.md tells the user `Compatible with Ember Data 1.0.0.beta.16.1`. This is true for the actual master branch. But if I follow the install instructions npm fetches version 0.6.7 which is not compatible with the latest ember-data release. The adapter throws the error below:

[code]

[2015-03-30 17:04] frederikbosch commented on #20
Will do. Forgot to release a new version.

[2015-03-30 21:11] frederikbosch commented on #10
See the 0.5x releases. The file is still there. But I guess releasing a new version of the 0.6x will help you more. Sorry for the delay on that one.

[2015-03-31 08:53] frederikbosch commented on #18
Just pushed a new release, sorry for the delay.

[2015-03-31 08:53] #18 closed

[2015-03-31 08:53] frederikbosch commented on #20
Just pushed a new release, sorry for the delay.

[2015-03-31 08:53] #20 closed

[2015-03-31 11:53] iamolivinius commented on #20
Thanks, and no need to be sorry. You're doing great work :+1:

[2015-03-31 17:24] Chun-Yang commented on #18
Hi @frederikbosch , I did not use the 'ember-data' way to serialize record in the previous PR. I did another PR to correct it.

Please consider to merge it. Thanks.

[2015-03-31 17:37] frederikbosch commented on #18
@Chun-Yang Done. Including new version release. Thanks for your help!

[2015-04-02 12:34] perlun opened #22 "Assertion Failed: The response from a findQuery must be an Array, not undefined"
Hi,

Thanks for a nice piece of software. I get some errors when I try to query out data from my (offline) store using the LFAdapter:

[code]

The calling code basically looks like this:

      this.get('offlineStore').find('order-draft', { company: 1 })

The reason the error happens is because there are no `order-draft` items in the localforage (IndexedDB in my case, using Chrome Canary) storage.

[2015-04-02 12:57] frederikbosch commented on #22
@perlun Are you able to replicate this in the form of a test?

[code]

This est passes perfectly for me. Or do I misunderstand your issue?

[2015-04-03 07:53] mrinterweb opened #23 "Cannot read property 'lookup' of undefined"
I am trying to get ember-localforage-adapter working with ember-cli 0.2.0. I upgraded to ember-data 1.0.0-beta.16. Anytime I try to access `this.emberSync.find('modelName', 1)`, I encounter this error.

I first tried installing as described in the README. Then I tried http://stackoverflow.com/a/24331685/133998. Both ways I have tried, lead to this error.

[code]

It looks like the application adap

[2015-04-03 07:58] mrinterweb commented on #23
Oh WOW! I'm tired. I posted an issue on the wrong project :tired_face: This was supposed to be for ember-localstorage-adapter. Please disregard this. I was trying ember-localforage-adapter as well. I just had this tab open still. Sorry.

[2015-04-03 07:58] #23 closed

[2015-04-03 08:45] frederikbosch commented on #23
@mrinterweb Go to bed then! No problem, get some rest!

[2015-04-08 12:11] perlun commented on #22
Thanks for the quick reply. Yes, getting reproducibility on this would help in resolving the issue. Will check if I can make a (failing) test for this one.

[2015-04-08 12:12] frederikbosch commented on #22
@perlun Thanks, let me know if you need some help.

[2015-04-13 13:11] perlun commented on #22
I've tried updating our app now to newer Ember (1.11) but now I seem to be getting really, really weird errors:

[code]

We are not using `ember-cli` but rather our own build infrastructure, and I am getting the above when doing a `store.find` like above. When poking around/debugging to try and see what could be causing this, I noticed that this is what's freaking out:

[code]

Within this method,

[2015-04-13 13:22] frederikbosch commented on #22
@perlun I will try to update this project to ember 1.11 in the next few days. Are you having this problem only with Chrome again? Or is this error applicable to any browser?

[2015-04-13 13:28] frederikbosch commented on #22
@perlun If you are right, and ```prop``` becomes ```@each```, then the error is originated in ```normalizePayload```. The payload is not normalized correctly, ```@each``` should not be part of the normalized data.

[2015-04-13 14:15] frederikbosch commented on #22
@perlun All tests pass with Ember 1.11. I'd love to help here, but advise you to checkout this repo, run tests with ember-cli (```ember test```) and finally add a test that replicates your problem. Best thing then is to issue a pull request, or if you cannot fix the bug yourself, give a clearer description of the problem. Also consider that is not a problem of this project, but a problem inside th

[2015-04-13 14:19] frederikbosch commented on #22
@perlun What happends if you upgrade ember-data to dev-master? A few days ago [a bug related to Canary](https://github.com/emberjs/data/issues/2990) was fixed.

[2015-04-13 15:25] perlun commented on #22
Thanks for the very prompt reply. When I looked int he debugger, `@each` was not part of the payload. So it feels like it was maybe Ember's default enumerable mixin that inserted it or something.

You're right in that I tested w/ Chrome Canary (when I reported the issue). Also tested w/ standard Chrome now, got the same error. Tested with Firefox dev edition, also seemed to behave similarly (`str`

[2015-04-13 15:39] frederikbosch commented on #22
@perlun Could you create a very minimal script on [jsbin](http://emberjs.jsbin.com/?html,css,js,output) that reproduces the error? There are [some examples available](https://gist.github.com/rwjblue/8816372) that might help you.

[2015-04-14 04:44] perlun commented on #22
Yeah, I will try to do something along those lines (narrow down my use case to a bare minimum that reproduces the error). Will keep you posted.

[2015-04-14 05:34] perlun commented on #22
I think I have it now:

1. When running `store.find` at an earlier stage in my app bootup, it worked fine.
2. When running it at the regular place, I get the error.

So something was happening while my app was booting up that caused this weirdness. I've nailed it down to my custom serializer:

[code]

I think the problem here lies in the use of `DS.RESTSerializer`; I have to extend the `localforag

[2015-04-14 05:53] perlun commented on #22
Ah, I think `serializerFor` might help me... Something like this: https://github.com/kurko/ember-sync#initialization. That way, I can make it return different serializers for the online/offline scenarios.

[2015-04-14 07:05] frederikbosch commented on #22
@perlun Great you found your solution! Can we close this issue then?

[2015-04-16 06:12] perlun commented on #22
Yes. Huge thanks for supporting me on this. I have a PR coming up re. the `embedded: always` style data. It doesn't work out of the box, but you will get more details about it in that PR.

[2015-04-16 06:12] #22 closed

[2015-04-16 09:44] frederikbosch commented on #22
@perlun Great, looking forward to that!

[2015-06-18 09:05] masciugo opened #27 "how debug?"
Hi,
I am trying to learn ember while building a spa with ember-localforage-adapter. I have problems like [this](http://stackoverflow.com/questions/30896062/ember-model-rendering-strange-behaviuor) but I am not able to understand if its a problem with the library or ember-data or my understanding of both.

Working with a remote api as data source would let me see when the requests to the server are

[2015-06-18 09:46] frederikbosch commented on #27
@masciugo In order assess whether it is a problem with the library or your own code, you might just post detailed information on your problem. If it is not a library problem, I will close the ticket and redirect you to some page in the Ember docs.

[2015-06-18 09:51] masciugo commented on #27
No problem, just need help. thank you

[2015-06-18 09:52] frederikbosch commented on #27
@masciugo Why are you closing the ticket? Please, just post your actual question. I am happy to help.

[2015-06-18 10:01] frederikbosch commented on #27
@masciugo I will have a look at your post in the stackoverflow issue, and try to replicate it. If it is the library, there will be a fix.

[2015-06-18 10:02] frederikbosch commented on #27
@masciugo Just to be sure: you are on the latest version 0.7.3 of this adapter?

[2015-06-18 10:37] masciugo commented on #27
Sorry Frederik, fact is that I am at the beginning and I don't feel so confident about the way ember-data works. Have a look to the stackoverflow issue if you can and I would much appreciate. In the meantime I will try to better isolate the problem I hope in a js playground  so that, if necessary, I can open a more appropriate issue here. thanks

[2015-06-18 10:37] masciugo commented on #27
ya 0.7.3

[2015-06-18 10:38] frederikbosch commented on #27
@masciugo Actually, I just included a test with exactly your problem posted at stackoverflow, see most recent commit c5ad39f60606710cdc50c567a92e237472705f7a. The tests were passing without any problem. So there must a problem on your side.

[2015-06-18 10:38] #27 closed

[2015-06-18 13:19] masciugo commented on #27
thank you Frederik, I couldn't ask more.

[2015-06-18 13:24] frederikbosch commented on #27
@masciugo No problem, hope you succeed in setting up your app with the localforage adapter!

[2015-07-01 17:03] masciugo commented on #27
Frederik sorry if I bother you. In order to provide detailed information on a problem as you stated above, Is there any way to have ember-localforage-adapter in a jsbin template? I am not an expert but I think it would let me test it better or build critical examples to submit if you are interested. thank you

[2015-07-02 07:29] frederikbosch commented on #27
@masciugo You might try [Twiddle](http://twiddle.joostdvrs.com/), otherwise use JSBin, but then you will have to rewrite the code a bit because ES6/EmberCLI code is not supported at this moment.

[2015-07-04 10:43] zshnr opened #28 "Routes not loading updated attributes"
I’m prototyping a store front. I’m loading all the product model data by pushing it to localstorage (using the localforage adapter) in the application route when the app starts for the first time:

adapters/application.js

    import LFAdapter from 'ember-localforage-adapter/adapters/localforage';

    export default LFAdapter.extend({
       shouldReloadAll: function() {
           return true;

[2015-07-05 10:11] frederikbosch commented on #28
@zshnr I believe shouldReloadAll is a method from Ember Data 1.13. This library is not compatible yet with this version. You can find a branch where I started making it compatible, but that was before the [recently published blogpost](http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html) on the changes made in 1.13.

With that blogpost it should be more clear how to upgrade the adapter

[2015-07-05 22:34] zshnr commented on #28
@frederikbosch ah, I had a feeling that is what was breaking. Thanks a lot for the clarification :)

I would love to help you with this, unfortunately I'm not only a junior Ember developer, I'm a junior developer. I have no idea where to start helping you even though I would really like to.

[2015-07-07 08:45] zshnr commented on #28
@frederikbosch So I changed ember-data to 1.0.0.beta-18 and still the same issue. (I removed the `shouldReloadAll` hook from adapter.js the rest of the code is still the same.

I noticed though that this problem is with using the filter method. If I use the `find` method, then the data loaded on the other route is the updated data.

Is there any way I can filter data without using the `filter` met

[2015-07-07 08:48] frederikbosch commented on #28
@zshnr Yes there is. From the top of my head.

[code]

[2015-07-07 08:50] frederikbosch commented on #28
@zshnr I will have a look at the ```filter``` method. Which version of Ember are you using? Be aware of the fact [that filter will be deprecated in Ember 2.0.0](http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_ds-store-filter-moved-to-an-addon) and moved to an addon.

[2015-07-07 08:53] zshnr commented on #28
@frederikbosch I downgraded to: `ember: 1.12.0` & `ember-data 1.0.0.beta18`. Thanks a lot for checking it out & the heads up on the impending deprecation :)

[2015-07-07 08:53] zshnr commented on #28
@frederikbosch missed your previous post completely, let me try that. Thanks!

[2015-07-07 09:05] frederikbosch commented on #27
@masciugo How are things going for you? Any success on the Twiddle/JSBin, or maybe you already found out what your problem was?

[2015-07-07 09:07] frederikbosch commented on #28
@zshnr No problem. Will leave this issue open until I have created a test that shows the problem or proves that the problem must on your side.

[2015-07-08 10:32] masciugo commented on #27
@frederikbosch thanks for your interest. As I told you I am at the beginning with ember and maybe starting with a local storage system instead of the classic backend API + ember SPA was not a great idea in order to better understand, above all, ember-data.  Problem is debugging Ember's magic. Coming from RubyOnRails I'm having hard time with debug and often I have things done by chance. I hate thi

[2015-07-08 11:08] frederikbosch commented on #27
@masciugo Maybe I will clone your app and have a look. Looking at your models I find it hard to figure out the structure. Why does a ledger has many players?

My first remark is that I tend not to do any writes on my models, like saving or fetches from the store, inside a component. In my apps this responsibility goes to the Route class. That is where all my persistency stuff goes. The component d

[2015-07-08 12:19] masciugo commented on #27
Your remark, as precondition, is fair enough. I'll work on that and let you know.
About your first question, every ledger has its own basket of players that can act as payer and/or participants to any purchase. Ledger are independent from each other, that's why, after deleting, I also delete their purchases and players in the `didDelete` event. I bring this pattern from Rails where an heavy use of

[2015-07-08 12:31] frederikbosch commented on #27
@masciugo Okay, so `ledger` is the single aggregate root in your app, right? I do not know exactly how Ember Data handles deletes to be honest. I do not have that many `deleteRecord` calls in my apps, and when I have them, I remove single entries not object graphs.

You might have a look at [embedded records](https://github.com/genkgo/ember-localforage-adapter#embedded-records). This might actuall

[2015-07-08 12:32] frederikbosch commented on #27
@masciugo Please let me know when you did some changes to the location of you save calls. Then I will clone your lib and see what I can do.

[2015-07-08 17:24] masciugo commented on #27
@frederikbosch embedded records could be a final solution for me and I'll look into that for sure. But now I am in the middle of the Ember steep learning curve and I really need to clear the mysteries I'm stuck into.

So, I followed your suggestions and move persistence directives from component to controller. Thank for that, I learnt a new thing, but the problems described above persit. The two p

[2015-07-08 17:28] frederikbosch commented on #27
@masciugo So the problem with those two lines is that they have to be commented? Why do you not want them to be commented?

[2015-07-08 17:49] masciugo commented on #27
when I create a new purchase I need to update associated models: ledger and players. Because they both has many purchases. At line 19 the current purchase is added to the ledger's ones and that's ok. Then I want to do the same with any players involved in this purchase: every player should store in its `purchases` computed property the list of the purcheses' ids to whom they participate, so I need

[2015-07-08 17:51] masciugo commented on #27
If I uncomment them it stores what I expect (even more than I expect actually) but then a fresh reload freezes the app.

[2015-07-09 12:37] masciugo commented on #27
@frederikbosch I made a big discovery which invalidates what I stated in the previous two comments. According to my models relationships setup, when I create a new purchase assigning it *ledger*, *payer*, and *players* I DON'T need leter to update their reverse relationships. My `submit` action:

    submit: function (purchase) {
      var ledger = this.get('ledger');

      Ember.RSVP.all([

[2015-07-09 12:39] frederikbosch commented on #27
@masciugo What do you mean with a reload? Refresh of the page?

[2015-07-09 12:41] masciugo commented on #27
yes, any page. Chrome task manager shows memory increment till 1.5 GB for the app tab.

[2015-07-09 15:12] frederikbosch commented on #27
@masciugo Maybe an inverse relationship is missing?

[2015-07-09 15:47] masciugo commented on #27
I don't think so.. From the last pictures I pasted, as a consequence of the following declarations, relationships seem correctly stored to me

**/app/models/ledger.js**

    ....
    purchases: DS.hasMany('purchase', {async: true}),
    players: DS.hasMany('player', {async: true}),
    ....

**/app/models/player.js**

    ledger: DS.belongsTo('ledger',{ async: true }),
    purchasesAsPayer: DS.has

[2015-07-09 15:49] frederikbosch commented on #27
but why not an inverse for the hasMany relations?

[2015-07-09 16:08] masciugo commented on #27
You need to explicitly specify inverse if it cannot be inferred from the name [doc](http://guides.emberjs.com/v1.12.0/models/defining-models/#toc_explicit-inverses). (However, I also tried to explicit inverse with no success). I edited my previous comment with letters which couple relationships.

[2015-07-09 16:27] frederikbosch commented on #27
how about this, works on my side. reloading no problem.

[code]

[2015-07-09 16:36] frederikbosch commented on #27
@masciugo You should not save a relationship. Ember data does that for you. The patterns just a little different compared to Active Record in Ruby. I guess there you have to be explicit about this, because it will fire another to your SQL database. That is not the case with Ember Data since a collection is serialized into an array. It therefore has more resemblence with a document store than an sq

[2015-07-09 16:43] frederikbosch commented on #27
@masciugo I also advice you to look into your console on a regular basis. The jshint advices should be taken into account.

[2015-07-09 17:01] masciugo commented on #27
Yes, in this case I dind't even needed to push the brand new purchase to the the ledger's purchases: it was enough to assign the ledger to the new purchase (belongsTo) and then save purchase and ledger as we did in the code.

Your snippet do exactly the same. I also retrieved `purchase_players` because I hoped I could safely save *player*'s relationships `purchases` and `purchasesAsPayer` so that

[2015-07-14 07:35] frederikbosch commented on #28
@zshnr The issue on the ```store.find``` method, is that still Ember Data 1.13? Or did your downgrade to a 1.0 beta x?

[2015-07-14 07:39] frederikbosch commented on #27
@masciugo I am lost now. What issue are you still having?

[2015-07-14 15:33] masciugo commented on #27
@frederikbosch I am sorry that I make you lost, really. What I simply would like to do is keeping track of all players' relationships, in particular `purchasesAsPayer` and `purchases` and to do that I need to save all players involved in any new purchase, and that's why I need [this line of code](https://github.com/masciugo/quenta/blob/master/app/controllers/ledger/purchases/new.js#L15) when creat

[2015-07-14 17:03] frederikbosch commented on #27
@masciugo If there is an issue with the library, I like it to be fixed. There are production apps relying on it. No problem that I am lost. Your movie helps :) Thanks.

[2015-07-14 19:22] zshnr commented on #28
store.find works on 1.0.beta.18. But it breaks in 1.13.2 (that is the one I tried). It was store.filter that was still breaking in 1.0.beta.18

[2015-07-15 09:38] frederikbosch commented on #28
@zshnr The behaviour of the adapter is correct for ```store.filter``` in 1.0 beta 18. Do not forget [to pass a query](http://emberjs.com/api/data/classes/DS.Store.html#method_filter), otherwise Ember Data will [not ask the adapter to lookup records](https://github.com/emberjs/data/blob/v1.13.5/packages/ember-data/lib/system/store.js#L1375).

Since there is already an issue on Ember Data 1.13, I wi

[2015-07-15 09:38] #28 closed

[2015-07-15 10:30] frederikbosch opened #30 "Compatibility with Ember Data 1.13+"
See #29

[2015-08-21 11:37] iamolivinius opened #31 "Possible memory leak in utils/queue.js"
Correct me if I'm wrong but I guess there is a memory leak in https://github.com/genkgo/ember-localforage-adapter/blob/master/addon/utils/queue.js

New operations are added to the queue but not removed after they resolve. This leads to an ever-growing queue array which shouldn't be the case for long living web apps.

[2015-08-21 11:55] frederikbosch commented on #31
@iamolivinius That would be correct. This is not a elegant solution. As all records are saved to one localforage key, it must be done sequentially. Therefore I came up with this solution. Best thing we can do is solve the memory leak.

Second step might be think of storing the data into multiple keys (one per model). It will increase performance because it can be done async. Then we would also hav

[2015-08-21 11:59] frederikbosch commented on #31
Maybe, this is too simple, but it could already help.

[code]

[2015-08-21 12:01] frederikbosch commented on #31
Note: there is no specific reason why we store data into one localforage key. This project originated from the `localstorage` adapter. It was their decision to design the adapter as such.

[2015-08-21 12:06] frederikbosch commented on #31
@iamolivinius Could you try #32? At least Travis thinks it is alright.

[2015-08-21 15:58] iamolivinius commented on #31
Looks good to me. Thanks for the quick response :+1:

[2015-08-21 16:16] #31 closed

[2015-08-21 16:18] frederikbosch commented on #31
Merged. Thanks for the help. Will tag next week.

[2015-09-02 13:53] frederikbosch commented on #30
Fixed by #35.

[2015-09-02 13:53] #30 closed

[2015-09-02 20:04] sunil-shrestha opened #38 "Got serializer.pushPayload is not a function while trying to pushPayload"
Hi guys,  I come to a case where i need to fetch data in online-mode, store on device and then use in offline-mode. I used normal ajax call, received JSON data and tried to push to store as follows.

[code]

This ends up with error message "Uncaught TypeError: serializer.pushPayload is not a function" . Am i missing something or anyway i can use this ad-on for this case? Thanks for Help in advance

[2015-09-02 20:43] frederikbosch commented on #38
No, you are right. It is not a bug, rather a missing feature. But I experimented with this today. Have a look at the (pushPayload method)[https://github.com/emberjs/data/blob/v2.0.0/packages/ember-data/lib/serializers/rest-serializer.js#L343] inside the rest adapter. Copy it to your serializer in app/serializers/application.js, you will probably receive an error from modelNameFromPayloadKey becaus

[2015-09-02 21:31] frederikbosch commented on #38
@sunil-shrestha Forgot to mention an important detail. I believe that pushPayload does not store data in the adapter. It only pushes record in the store. Please check for yourself to be sure.

In order to push data into localforage, you can call adapterFor('user') on the store and then withe adapter call the [persistData method](https://github.com/genkgo/ember-localforage-adapter/blob/master/addon

[2015-09-03 17:45] sunil-shrestha commented on #38
Thanks, i guess, i am looking for something like persistData method. I will try this and let you know.

[2015-09-04 08:37] frederikbosch opened #39 "Compatibility with Ember Data 2.0"

[2015-09-07 08:28] sebweaver commented on #39
Hello,

About that, ELA (Ember Local Forage) 1.13.1 is compatible with ED 2.0, except one test called `push` (the one I added previously). Unfortunately, this seems to be related to a side effect of a cleaning in ED 2.0.

I added a comment in the PR of ED (please see https://github.com/emberjs/data/pull/3345#diff-for-comment-38619627) without response for now. I think I should add an issue too, re

[2015-09-09 07:57] sebweaver commented on #39
Issue added: https://github.com/emberjs/data/issues/3736

[2015-09-12 16:37] frederikbosch commented on #39
Fixed.

[2015-09-12 16:37] #39 closed

[2015-09-16 16:11] sebweaver opened #42 "Discussion about keeping the loading process of relationships"
Currently, when ELA fetch records it also takes the responsibility of loading all their relationships.

This raises several issues:

1. The process doesn't take care of the async characteristic of the relationship (`true` or `false`). In other words, in applications where relationships are set to be async (which is now the default in Ember Data 2.0), ELA will do a lot of unnecessary work for nothi

[2015-09-17 08:32] sebweaver commented on #42
I created the branch [issue-42](https://github.com/sebweaver/ember-localforage-adapter/tree/issue-42) in which:

* I did some cleanings in the tests to improve their readability before migration (8 commits, from 9775d21b8d51e39e01ac9cc953dac04b31c026ed to 6351c7aff4a5e2cf4f803a1d8827364e2afc478c)
* I removed all the loading process from the Adapter
* I adapted the Models in order to:
  * Remove as

[2015-09-17 08:45] frederikbosch commented on #42
@sebweaver I think I am in favour of all of this. There is a lot of code coming from the `localstorage adapter`. This project is originally forked from that project. With these changes, we could now get rid of unnecessary code, synchronous characteristics from `localstorage` and start benefiting more from `asynchronous` characteristics of `localforage`.

But, keep in mind, since we still save ever

[2015-09-17 08:50] frederikbosch commented on #42
Depending on your reply, we could decide when introduce the breaking changes. Your PRs to Ember Data will probably be merged into ED 2.1.0 so maybe we could introduce these 'breaking' changes together with removing the current workarounds around those PRs. And then we release ELA 2.1.0.

[2015-09-17 10:15] sebweaver commented on #42
**Performance**

About that, I totally agree with you. These changes improve the load on the store, but due to the current implementation (i.e. one unique key to contain the whole database) it doesn't change anything on the memory footprint. The latter is not the purpose of this PR *(and I have other ideas about that very topic...)*

**The purposes were:**

1. Make the code more maintainable for f

[2015-09-17 14:44] sebweaver opened #43 "Discussion about implementation"
A I said [here](https://github.com/genkgo/ember-localforage-adapter/pull/36#issuecomment-137599242) and [there](https://github.com/genkgo/ember-localforage-adapter/issues/42#issuecomment-141035677) that I have some ideas to improve the whole implementation of ELA.

Purposes are:
1. Make ELA even thinner than the version discussed in #42
2. Improve its overall performance, specially on the memory f

[2015-09-18 06:53] sebweaver commented on #43
Reading LF project's history, It seems that the support of multiple instances is pretty recent. It could be one of the reasons to the current implementation of ELA. The fork from the ember-localstorage-adapter is certainly another one, since the latter doesn't support multiple database/store per domain.

However, thanks to the current abstraction layer of LF it makes the proposed implementation no

[2015-09-18 15:07] frederikbosch commented on #42
@sebweaver Alright, let's move this in with ED 2.1. I think the PR does not require any changes. I only want to ship an upgrade guide with the release since we might break things.

Is it correct that only people that will be affected by this change are people using a relation by `model.get('relation').get('relationProperty')` instead of `model.get('relation').then` and are not using the embedded r

[2015-09-18 15:49] frederikbosch commented on #43
@sebweaver Again, I am in favour of all of this. My suggestion is to change one thing at a time where possible. The tests we have, help a lot of in this case. Regarding pitfalls, I think migration should be no problem since we are dealing with pojo and arrays.

[2015-09-21 08:17] sebweaver commented on #42
Yes, indeed. To be clearer, here is a table which should cover the different migration scenarios:

If my relationship was...|And my associated records were...|My relationship now must be...|What about my association getters?
---|---|---|---
{&nbsp;async:&nbsp;false&nbsp;}<br/>*or not specified*|embedded|{&nbsp;async:&nbsp;false&nbsp;}<br/>**explicitely**|No change
{&nbsp;async:&nbsp;false&nbsp;}<b

[2015-09-21 13:32] frederikbosch commented on #42
@sebweaver Wonderful. I extracted the table to [the upgrade guide](https://github.com/genkgo/ember-localforage-adapter/blob/master/UPGRADE.md). Do you agree?

[2015-09-21 13:33] frederikbosch commented on #42
Then you could create a PR of your commit and we merge it in.

[2015-09-22 07:54] sebweaver commented on #42
On second thought, the above table is actually squashing the changes required by ED migration and the ones required by ELA, whereas some of them are introduced at different version.

So I think it's even clearer to split the table, as follows:

Changes required by migration from ED < 2.0 to ED >= 2.0:

If the relationship was...|The relationship now must be...
---|---
`{async: false}`|no change
`{

[2015-09-22 08:29] frederikbosch commented on #42
@sebweaver Alright, I will change that. Can you create the PR?

[2015-09-22 10:51] frederikbosch commented on #42
Implemented.

[2015-09-22 10:51] #42 closed

[2015-09-27 18:27] acerov opened #45 "querying records"
Hi,

this is my environment: ember-data 1.13.13, ember-localforage-adapter 1.13.1
I am unable to query records, it returns empty array, my code is bellow:

[code]

Thanks

[2015-09-28 10:05] sebweaver commented on #45
I don't think [`query()`](http://emberjs.com/api/data/classes/DS.Store.html#method_query) accepts a `filter`.

Try this:
[code]

[2015-09-28 13:24] acerov commented on #45
Tried:

[code]

strange but now it does not hit console.log("Document details bellow:"); nor console.log("localDocumentDetail query failed");

[2015-09-28 13:27] sebweaver opened #46 "[ELA <2.1] loadRelationships() should use the relation adapter instead of self"
On lines https://github.com/genkgo/ember-localforage-adapter/blob/v2.0.0/addon/adapters/localforage.js#L338-L342

The adapter specialized for the model of the current relationship should be use instead of `this` which represents the adapter of the current model.

I'm about to create a PR for this.

[2015-09-28 13:55] sebweaver opened #47 "Create a branch for continuing support of version 1.13.x"
Since ED 2.0 (and future ELA 2.1) contains some breaking changes and unsupported deprecations, some users may be unable, or unwilling, to migrate.

That's why I think ELA 1.13 should be still maintained, at least for a while, and a branch should be created in order to continue creating PR on it.

For example, I've create a fix for #46 which is: https://github.com/genkgo/ember-localforage-adapter/c

[2015-09-28 13:56] sebweaver commented on #46
Pending fix: https://github.com/genkgo/ember-localforage-adapter/compare/v1.13.1...sebweaver:issue-46

[2015-09-28 14:42] frederikbosch commented on #47
Agreed. We also did that when switching to Ember CLI Addon. Will take action after holidays (next Thursday).

[2015-09-28 15:40] acerov commented on #45
if I comment this lines:
[code]
in addon/adapters/localforage.js it works.
I did not analyze much loadRelationshipsForMany function but I saw that in version 2.0.0 these lines does not exist.

[2015-09-28 17:34] sebweaver commented on #45
There is a blocking promise in `loadRelationships()` which leave the `query()` promise pending when non embedded relationships can't be satisfied, instead of rejecting it (or resolving it without the missing records).

I'll push a PR as soon as the branch 1.13 will be created by @frederikbosch.

In the meantime, you should check your data, you probably have at least one unsatisfied relationship in

[2015-09-30 08:04] frederikbosch commented on #47
Done, see [branch ember-113-compat](https://github.com/genkgo/ember-localforage-adapter/tree/ember-113-compat).

[2015-09-30 08:04] #47 closed

[2015-09-30 08:07] frederikbosch commented on #46
@sebweaver Merged, and tagged 1.13.2. Thanks!

[2015-09-30 08:07] #46 closed

[2015-09-30 08:09] frederikbosch commented on #45
@sebweaver The branch is there, feel free to create the PR. What are you planning? Issue a warning message in console? Throw an exception? I do not know the behaviour of other adapter when referencing non-existing relationships.

[2015-09-30 11:43] acerov commented on #45
yes, unsatisfied relationship happens when I am offline and I don't have access to data on rest server, because offline data references online data, probably I should cache referenced data locally.

What is good behaviour for adapter in these situation, probably warning because findAll returns all records and query without filter none, they should behave the same I think.

[2015-09-30 11:53] frederikbosch commented on #45
@acerov I understand the behaviour now. So rather than a non-existing relationships, this problem is related to a non-fetched relationship.

If we act on this, there are two scenarios possible. First the completely offline scenario: in this case there is erroneous data. In the second case the data within localforage is incomplete. Maybe both scenarios require different solutions.

[2015-09-30 13:26] acerov commented on #45
@frederikbosch I think it is ok to return records (with warnings) regardless of non-fetched relationships because these records actually exist (in IndexedDB in my case), findAll behaves this way.

What was confusing to me, previous than finding out what is going on, is that findAll returned records and query (with filter that I know have a match) did not.

[2015-09-30 13:36] frederikbosch commented on #45
Alright, we will wait for @sebweaver with a PR. Nice to hear that things are already sorted out for you.

[2015-09-30 14:05] acerov commented on #45
@sebweaver @frederikbosch thank you both for help :+1: , waiting @sebweaver for a PR

[2015-10-01 15:25] sebweaver commented on #45
It's in progress and will be released ASAP. :sweat_smile:

[2015-10-02 09:43] sebweaver commented on #45
Done!

[2015-10-05 12:01] zalun opened #49 "Long time to delete a record"
I've got pretty big records to save (each has 3 png portrait images of 900px width)
I'm using Ember under Cordova, testing on FirefoxOS nightly installed on Sony Z3 Compact.
When there is only a few of the records, deleting takes 2s, which is OK, but when the number of records is about 60 - it takes 40s to delete a record.
Is this normal?

The code is still in development - there is no paging, but

[2015-10-05 12:16] frederikbosch commented on #49
How are tests with a browser Chrome doing? The limitation of the current `localforage` adapter is that everything is stored in a single key. What is the size of your PNG?

In one of my own applications I stored a photo reference in the model, and stored the photo itself in a seperate localforage key. You might consider that. Storing photos inside a database might not be best practise in this case.

[2015-10-05 12:28] zalun commented on #49
Using 2 models should definitely work better for the first list view.

[2015-10-05 12:34] frederikbosch commented on #49
@zalun I would not store the image using the Ember Store

[code]

[2015-10-05 12:51] zalun commented on #49
I think I'll add an attribute with promise to the component/controller to retrieve images which will have the key related to the model id.

[2015-10-05 13:06] zalun commented on #49
Thanks for the advices - I'll close the issue then

[2015-10-05 13:06] #49 closed

[2015-10-07 07:42] frederikbosch commented on #45
Tagged and published!

[2015-10-07 07:42] #45 closed

[2015-10-13 09:50] acerov opened #50 "id's"
Hi,

I am probably missing something but I cannot save record with my own integer id, it is always replaced with hash generated by localForage.

[2015-10-13 09:50] frederikbosch commented on #50
This might very well be true.

[2015-10-13 09:54] frederikbosch commented on #50
Actually, this implemented by Ember Data itself. The localforage adapter just [implements this method](http://emberjs.com/api/data/classes/DS.Adapter.html#method_generateIdForRecord). If you want to have your own generator (e.g. uuid), then you can overload the `generateIdForRecord` method.

[code]

[2015-10-13 09:55] #50 closed

[2015-10-13 10:10] acerov commented on #50
Thnx, actually I do not want to replace generateIdForRecord just to bypass it when id is already set through setProperties, it is fine for me to be generated when id is not set. Hope I do not ask too much :)

[2015-10-13 11:45] acerov commented on #50
I tried to implement generateIdForRecord in a way that when id is set then keep that id otherwise generate uuid but am facing this https://github.com/emberjs/data/issues/2516 and cannot access already set id.
I use ember-data 1.13.8
Do you know some better way to accomplish this?

[2015-10-13 12:17] frederikbosch commented on #50
@acerov If I lookup [the line where `generateIdForRecord`](https://github.com/emberjs/data/blob/724b1000964777b73da1a4144cb2ceb6cb3828b1/packages/ember-data/lib/system/store.js#L370) is called in ED, it seems that now three arguments are passed. First the `store`, second the `modelName` and third the `properties`.

If I am right, I would appreciate if you create a PR with a documentation update, b

[2015-10-13 12:49] acerov commented on #50
@frederikbosch yes I saw that but third argument, console.log(properties) gives me just Object {}

[2015-10-13 13:34] frederikbosch commented on #50
In that case I'd ask to reopen that issue. Or, even better, create a PR that solves it.

[2015-10-13 13:37] frederikbosch opened #51 "Compat Ember Data 2.1"
@sebweaver Just saw your commits. Are we ready for a new release?

[2015-10-13 15:42] acerov commented on #50
I ended up using push method which is more appropriate for my case which is to store locally records that exist on server.

[2015-10-13 17:04] frederikbosch commented on #50
Sounds logical to me!

[2015-10-13 21:22] sebweaver commented on #51
Unless I missed something, or if you want to discuss these commits, I would say yes!

[2015-10-14 06:51] frederikbosch commented on #51
Just released version 2.1.1 of ELA. I believe I made a mistake with version 2.0.0 (which cannot be undone in `npm`), so I had to release 2.1.1 as well. Sorry for that.

[2015-10-14 06:51] #51 closed

[2015-10-14 07:28] frederikbosch commented on #51
You might want to include your name in the list of authors in `bower.json`. Since I do not know if you want that, and if so what e-mail address you want to include, I cannot do this for you. But it would be fair anyway!

[2015-10-26 01:28] oleander opened #52 "Load association with store.query?"
I'm trying to load all associated records for a model and it feels like I've tried everything.

Here's is my set-up.

[code]

`user.posts.length` is always `0`.

I've tried passing `{async: true}` and `{async: false}` as argument to `DS.hasMany`. I tried using the embedded adapter.

[code]

Something that temporarily worked was to load all associations in a afterModel block. But if I async reload

[2015-10-26 07:04] frederikbosch commented on #52
@oleander I will have a look at this. There was no issue with this in the past. When looking at our tests: this case is not tested in our [query integration test](https://github.com/genkgo/ember-localforage-adapter/blob/master/tests/integration/crud-test.js#L202). My idea is to add it and see if I run into the same problem as you do. Then we can see how to fix it.

[2015-10-26 09:00] oleander commented on #52
@frederikbosch Thanks! I just tried replacing `store.query` with `store.findAll` and the results are the same.

[2015-10-26 09:46] sebweaver commented on #52
@frederikbosch In the past, the adapter preloaded recursively all dependent relationships in the store, by force and no matter the `async` attributes were. That's why it used to work, in all cases.

Now, with the current implementation of the adapter, I think the issue could be related to `coalesceFindRequests` and `findMany()`. Besides, as you said, the length of records involved in a async `hasM

[2015-10-26 14:57] oleander commented on #52
@sebweaver I've created an example application here: https://github.com/oleander/lffail
Run `npm install`, start the server and visit the index url.

[2015-10-26 15:09] oleander commented on #52
I added another branch called `async`, which waits for the posts to load before returning the model to the view. Same outcome tho.

[2015-10-27 15:46] sebweaver commented on #52
@oleander I tested your code. It appears you missed some points which are not related to this localforage adapter but rather to how ember data works. Let me explain.

In the branch `master` (with embedded relationship), you've forgot to associate the post with its owner and then save the latter to the database.

Replace:

[code]

By:

[code]
And your code works as intended.

If you don't want to p

[2015-10-27 15:49] frederikbosch commented on #52
And if you have chrome, you can inspect the contents of your database by using the `Resource` tab. There you will see the data popping up in WebSQL or IndexedDB! Good luck!

[2015-10-27 15:49] #52 closed

[2015-12-08 02:45] ptgamr opened #53 "Exception when cache enabled: Uncaught (in promise) TypeError: this.map is not a function"
If I disable cache `caching: 'none'` then I dont' get the following error:

[code]

[2015-12-08 08:58] frederikbosch commented on #53
@ptgamr Is that with saving or requesting data? What method on the store fails? This way I create a test, reproduce, fix and release!

[2015-12-08 09:00] frederikbosch opened #54 "Compat Ember Data 2.2"
Investigate whether upgrade is without problems. Release new version 2.2 of adapter.

[2015-12-08 09:57] ptgamr commented on #53
@frederikbosch this happen on both on loading record & persist record. The first time when application load.

You can run the dummy test app here: https://github.com/ptgamr/ember-offline-sync

[2015-12-09 08:14] frederikbosch commented on #53
@ptgamr I cannot replicate this with a test. What I did was the following.

[code]

Then modify `tests/dummy/app/adapter/application.js` to:
[code]

And then run:
[code]

Everything passes. No issues with 'this.map' is not a function. Moreover `.map` is not even found in the adapter nor serializer. I guess this an error in your own code.

[2015-12-09 09:21] frederikbosch commented on #53
hmm, while upgrading to Ember / Ember Data 2.2.0 I hit the same issue. Will try to fix.

[2015-12-09 09:54] frederikbosch commented on #53
@ptgamr Do you want to try if everything works with master branch? It requires Ember and Ember Data 2.2.x now.

[2015-12-09 10:56] frederikbosch commented on #53
If you can confirm that this bug is fixed, I will release version 2.2.0 of the adapter.

@sebweaver Would you be so kind to review my changes? You have seen more Ember Data internals than I did. Below you will find an explanation why changes were made, and what specific were changed. I also upgraded to the latest Ember CLI and did an `ember init` on the project.

In the past we were making [a copy

[2015-12-09 17:17] sebweaver commented on #53
@frederikbosch I'll check this out ASAP.

[2015-12-09 22:08] ptgamr commented on #53
@frederikbosch thanks I'll check it

[2015-12-10 11:41] sebweaver commented on #53
@frederikbosch Ok, I read this issue and reviewed your changes. There are several things to say.

**About this issue**

`Ember.copy` is not the culprit. It works as always: it [calls `copy` on `Ember.Copyable` objects](https://github.com/emberjs/ember.js/blob/v2.2.0/packages/ember-runtime/lib/copy.js#L88-L90) or applies its [own implementation](https://github.com/emberjs/ember.js/blob/v2.2.0/packa

[2015-12-10 12:26] sebweaver commented on #54
In https://github.com/genkgo/ember-localforage-adapter/issues/51 you said:

My bad, I never answered. So yes, I agree:

    Sébastien Tisserant <s.tisserant@gmail.com>

Thanks!

[2015-12-10 12:56] sebweaver commented on #43
I plan to look into this new implementation before the end of the month.

[2015-12-10 12:58] frederikbosch commented on #53
@sebweaver :bowtie:! That is a phenomenal reply, I did not expect this! Thanks a lot. Things are more clear for me now. I did not even realize I added the dependency of `ember-disable-prototype-extensions` and what consequences it had.

What I am wondering is whether it is our job to disable `EXTEND_PROTOTYPES`. I mean the code now works with both, right? If we are adding `ember-disable-prototype-

[2015-12-10 13:10] frederikbosch commented on #53
Just learned on irc emberjs that I can release with `ember-disable-prototype-extensions` and I do not need to worry on backward compatible changes. Addons with Ember CLI have `EXTEND_PROTOTYPES` disabled by default. That is logical, otherwise there would have been no bug. So I will release ELA 2.2.0 today.

[2015-12-10 13:10] #53 closed

[2015-12-10 13:14] #54 closed

[2015-12-10 13:17] ptgamr commented on #53
:+1:  for you guys

[2015-12-10 13:18] sebweaver commented on #53
This extension only disables `EXTEND_PROTOTYPES` for the [current scope](https://github.com/rwjblue/ember-disable-prototype-extensions/blob/master/index.js#L8-L9) of the add-on. But the consuming application is not affected and can enable/disable at will.

That's why it's a good practice, because it makes the add-on code more generic and thus less error prone when embedded in an application which

[2015-12-10 13:19] frederikbosch commented on #53
@sebweaver Thanks again, just released 2.2.0.

[2015-12-12 13:09] frederikbosch commented on #43
We might want to consider running localforage in a worker. It might increase performance. I see that support for workers within Ember is [premature](https://github.com/ember-cli/ember-cli/issues/1011). There are [a few](https://github.com/runspired/skyrocket) [projects/addons](https://github.com/bengillies/ember-parallel) on this topic. But we might not need those addons when we only localforage i

[2015-12-15 23:50] loostro opened #55 "(Chrome) The requested version (1) is less than the existing version (2)"
I keep getting this error:

[code]

I am useing ember + ember data `v2.2`. Is there any way to fix this?

I keep getting it when I try to transition to route with `model() { return this.store.findAll('scene'); }` where scene is a simple DS.Model with 3 string fields...

[2015-12-15 23:53] loostro commented on #55
This happens on Chrome. It works on firefox. I read that this addon fallsback to local storage... but it seems it does not?

[2015-12-16 07:34] frederikbosch commented on #55
What version this adapter are you using? If it is the latest (2.2.0), and you have the opportunity to rollback to 2.1.0, please do. In this latest release I upgraded the localforage dependency to 1.3.x. That might be (the issue)[https://github.com/mozilla/localForage/issues/335].

[2015-12-16 08:34] loostro commented on #55
* I've installed Ember CLI via `npm install -g ember-cli`.
* Then created a project via `ember new my-app`.
* Then edited `packages.json` and `bower.json` to update `ember` and `ember-data` to `^2.2.0`.
* Then `bower install` and `npm install`.
* **Finally** I followed this projects README and did `ember install ember-localforage-adapter`.

My `packages.json`:

[code]

My `bower.json`:

[code]

[2015-12-16 08:49] frederikbosch commented on #55
@loostro Hmm, I see what happens, in our most recent version I forgot to upgrade the blueprint. I just did that in [this commit](https://github.com/genkgo/ember-localforage-adapter/commit/a6931b4ada30bae9e606cda9aa9a9aa5db44b7ed). Can you change your `bower.json` to `"localforage": "~1.3.1"` and update? Is the bug still there then?

It looks like [a localforage bug](http://stackoverflow.com/questi

[2015-12-16 08:50] sebweaver commented on #55
First of all, check the version of localforage is 1.3.1 (not 1.3.0 which is buggy with Ember). If not, replace the following:

[code]

By:

[code]

Then, check the way you created localforage instance and don't specify any version (`indexedDB` driver will manage it by itself).

[2015-12-16 08:55] loostro commented on #55
* I updated the dependency to `"localforage": "~1.3.1"` and `bower install` which installed `localforage#1.3.1`
* Run again `ember server`

And it works! Thank you very much :)

I am useing latest Chrome 47.0.2526.106 m on Windows 8.

[2015-12-16 08:55] #55 closed

[2015-12-16 08:56] frederikbosch commented on #55
Great. I will release a new version of the adapter today, with the latest commit included.

[2015-12-16 09:23] frederikbosch commented on #55
@sebweaver Shall I cherry pick [this commit](https://github.com/genkgo/ember-localforage-adapter/commit/a6931b4ada30bae9e606cda9aa9a9aa5db44b7ed) for version 2.2.1 or do you want to include your recent commits also?

[2015-12-16 11:04] sebweaver commented on #55
Include my recent commits too, they improve several things.

[2015-12-16 11:16] sebweaver commented on #55
BTW, since we removed all needless copies (your [commits](https://github.com/genkgo/ember-localforage-adapter/commit/dfad287a85e079fbe46a97fbe8b5ea21dc040417#diff-709eb56ec1ceca0498c4810b87e29789) and [mine](https://github.com/genkgo/ember-localforage-adapter/commit/6c8dcb4515197af2d7453b72dfa9dd5f5bcfc83f)) I've noticed a significative impact on performance of my application, haven't you?

If I h

[2015-12-16 11:25] frederikbosch commented on #55
@sebweaver Honoustly, my app with this adapter works perfectly in production. I have no reason to implement changes at this moment.

For a new app, I am thinking of creating a `ember-connectivity-adapter`, and try to do things different then all those sync related apps. I have some ideas for this. Now I have to find some time to implement them.

By the way, that idea remembers me of the fact that

[2015-12-16 11:26] frederikbosch opened #56 "Change generateIdForRecord to guid / uuid"
The current randomness generation is not sufficient. We should better than that; and use proven technology like `guid` and `uuid`. Also it should be rather easy to implement. There has to be a package out there somewhere that already takes care of uuid in the browser.

[2015-12-16 11:27] frederikbosch commented on #55
For the latter I opened a new issue #56. I also released version `2.2.1`.

[2015-12-16 11:40] frederikbosch commented on #56
Stack overflow contains a lot of [useful material](http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript) on this topic, as always. And bower suggests some [useful libraries](http://bower.io/search/?q=uuid). We should decide which library suits us best. Maybe even PR a package like [broofa/node-uuid](https://github.com/broofa/node-uuid) with a request to support ES6 syntax.

[2015-12-16 12:14] sebweaver commented on #55
Of course, but you may test these changes on dev env. What's the size of you database ? May be these changes are not so significative on small databases.

Good idea, because the current mechanism is not very reliable on big database. I already experienced some collisions occasionally.

I don't think it's built-in, it's the responsibility of adapters to handle that and both REST and JSONAPI adapter

[2015-12-16 12:43] frederikbosch commented on #55
My database is huge. You are right, I could do some benchmarking on development environment. What I discovered with my database is that relationships are very expensive in Ember Data. But that was before Ember / Ember Data / ELA 2.0.0. So my production app with ELA is still on 1.13.x. And since it is a mobile private (unpublished) app on a few devices, I will only update when there is a real need.

[2015-12-16 13:07] sebweaver commented on #55
Ouch, indeed, I think the gap performance gap between the version 1.13.x and 2.2.x is huge. Not only in general but specially for your database too, regarding both speed and memory consumption.

I look forward to seeing the result of your own test or benchmark! :smiley:

[2015-12-16 16:21] loostro commented on #55
@frederikbosch why not simply assign increasing integer numbers as ids?

[2015-12-16 16:28] frederikbosch commented on #55
@loostro That won't work if there are multiple devices or a server that can also generated a sequential ID. If every device has its own database, then it is fine, otherwise: trouble!

[2015-12-16 16:44] loostro commented on #55
I can recommend [hashids](http://hashids.org/javascript/). It maps integers to unique strings.

[2016-01-06 19:18] acerov opened #57 "queryRecord issue"
Hi,

It seems to me that in `_query: function`
instead of:
`if (singleMatch) {`
should be something like:
`if (singleMatch & results.length>0) {`

because othervise `queryRecord` works fine just if the first record is a match.
If you think this is ok, please update `ember-113-compat` branch also.

[2016-01-06 19:47] frederikbosch commented on #57
@acerov Agreed, this is an issue. I wonder what the desired behaviour in when `queryRecord` has no results. Should the promise be rejected?

[2016-01-06 23:53] sebweaver commented on #57
This is not an issue, this is the expected behavior.

Since `queryRecord` returns a promise and its purpose is to fetch one single record, this promise should be [rejected](https://github.com/genkgo/ember-localforage-adapter/blob/master/addon/adapters/localforage.js#L75-L77) when nothing matches. This is tested [here](https://github.com/genkgo/ember-localforage-adapter/blob/master/tests/integratio

[2016-01-07 08:22] frederikbosch commented on #57
@acerov Make sure you catch the rejected promise, probably in the `model` hook in the router. Please see below (ES6).

`model() {
  let promise = this.store.queryRecord('item', { property: 'value' });
  promise.catch(() => { doSomethingHere(); });
  return promise;
}`

[2016-01-07 11:11] acerov commented on #57
I think we do not understand each other,
problem is that if any other than first record satisfy the criteria queryRecord does not work.
`(singleMatch) {` is tested in records loop and if singleMatch is true it exits in first run through that loop with first results[0], we did not have a chance to even test other records, it should run through the records loop until we have that first match and the

[2016-01-07 11:36] frederikbosch commented on #57
I think you are right.

[2016-01-07 11:36] sebweaver commented on #57
Ok, I see your point. I did not understand that in you first comment.

[2016-01-07 11:37] frederikbosch commented on #57
[code]

[2016-01-07 11:37] frederikbosch commented on #57
That should fix it, right?

[2016-01-07 12:01] sebweaver commented on #57
Not sufficient, you also have to handle the case when there's not match at all, otherwise `_query` will return an empty array in the end.

This new code should do the trick:

[code]

Or, if you prefer not to return early (a matter of taste):

[code]

@frederikbosch Actually this is more or less what I commited before you broke it [here](https://github.com/genkgo/ember-localforage-adapter/commit/2d

[2016-01-07 12:07] acerov commented on #57
right to the point :smile:
@sebweaver your first code block with early exit feels right to me

[2016-01-07 13:44] #57 closed

[2016-01-07 16:05] frederikbosch commented on #57
I will add a tag today.

[2016-01-07 16:32] sebweaver commented on #57
Travis failed on `ember-113-compat` (error related to Babel). Don't know why, and not enough time to investigate soon.

Master branch is ok.

[2016-02-01 09:56] sebweaver opened #58 "Travis failed on `ember-113-compat`"
As mentioned [here](https://github.com/genkgo/ember-localforage-adapter/issues/57#issuecomment-169719306) travis failed on building the branch `ember-113-compat`.

It seems to be related to some babel dependency issue:

[code]

From https://travis-ci.org/genkgo/ember-localforage-adapter#L456-L471

[2016-02-01 10:19] sebweaver commented on #43
Eventually I did not have enough time on December/January to look into this.

Your suggestion to run LF in a worker is a good idea and I'll keep that in mind!

I'll keep you posted whether and when I could reschedule all of this.

[2016-02-01 10:45] frederikbosch commented on #43
@sebweaver No worries, totally understood. The library is in a fine shape anyway!

[2016-02-07 11:32] acerov opened #59 "Losing Date type data in EmbeddedRecords"
Hi people,

I am struggling with these for a day, will go straight to the point.

I have model with hasMany relationship, "child" model have `paymentDate: DS.attr('date')` attribute.

When saving to IndexedDB localforage I lose "paymentDate" data (it is null) except for last parent record saved.
Last parent record saved is always ok (all "child" records are ok), but every other parent record lose

[2016-02-27 10:28] frederikbosch opened #60 "Reimplement a3d56e7"
PR #32 was never merged and that got noticed by @iamolivinius. We should see how to fix in current code.

[2016-05-03 11:39] Ramblurr commented on #43
I'm evaluating moving from [ember-local-storage](https://github.com/funkensturm/ember-local-storage) (not to be confused with [ember-localstorage-adapter](https://github.com/locks/ember-localstorage-adapter) to localforage on a cordova backed mobile app.

The goal is to increase performance, especially on mobile safari. My app's database is quite large.

I'm also eyeing a [sqlite driver for localf

[2016-05-03 11:52] frederikbosch commented on #43
@Ramblurr Very welcome to post your findings. Does not feel like an advertisement at all for `e-l-s`. Actually I understand really well where your comment is coming from. The funny thing is that I made a fork of the `ember-localstorage-adapter` almost two years ago and changed it to a localforage adapter. But I did not change the methodology, only the storage mechanism was changed. And many people

[2016-05-03 13:53] sebweaver commented on #43
I wrote this issue when I worked on an application where the database was big enough to notice the performance drop. Unfortunately this application has never got beyond the POC stage. Since the single-key implementation was sufficient to make it work as intended, the new implementation progressively left my list of priorities...

If I had to finally release this application on production, or anoth

[2016-05-14 21:07] borisrorsvort opened #62 "Caching remote data"
Hi, would there be a way to use this addon to cache remote data from an api.
There was this project but its doesnt seems very much maintained: https://github.com/api-hogs/ember-data-offline

[2016-05-18 11:39] frederikbosch commented on #62
@borisrorsvort I that case I think I'd go for service workers. Maybe [this package](https://github.com/jkleinsc/broccoli-serviceworker) is interesting.

[2016-06-28 13:52] fsmanuel commented on #43
Hey! I'm the author of `ember-local-storage` and I'm interested in a collaboration or a implementation of `localForage` into `ember-local-storage`. I haven't worked with `localForage` yet but will dive into it as soon as possible.

[2016-06-28 13:59] frederikbosch commented on #43
@fsmanuel At this moment, both @sebweaver and I, are not using the LF adapter. No one else has taken over development. You are free to help this package, or help your own package with the things that we have build.

[2016-06-28 14:05] fsmanuel commented on #43
@frederikbosch I see! Thanks for the offer. I guess the tests are of great value. I'll get back to you as soon as I have a better understanding of LF.

[2016-08-08 12:02] maruilian11 opened #63 "add built dist folder on npm package"
hi, recently we want to add your lib to https://cdnjs.com, could you please consider adding built dist folder to npm package so that we can use **npm package auto-update config** to add every released version to cdnjs **automatically** with building.
thank you very much!

https://github.com/cdnjs/cdnjs/issues/7134

[2016-08-08 12:37] frederikbosch commented on #63
@maruilian11 How should I build it? I have never done that before. Please give me the exact commands, otherwise I might not be able to help you.

[2016-08-26 11:12] gilbcharlene opened #64 "findRecord not retrieving existing data"
Ember 2.7.1
Ember-data 2.7.0
ember-localforage-adapter 2.2.0

When I query the store for existing records, nothing is found. I get the following error:
[code]

I have followed the documentation and set up the application adapter like this:
[code]

[2016-08-26 11:18] frederikbosch commented on #64
Maybe incompatibility with newer Ember / Ember Data versions?

[2016-09-30 13:27] #60 closed

[2016-09-30 13:27] #63 closed

[2016-09-30 13:28] #62 closed

[2016-09-30 16:06] maruilian11 commented on #63
hi @frederikbosch, sorry for not noticing the reply.
please take a look at https://github.com/cdnjs/cdnjs/issues/7134#issuecomment-235141792

[2016-09-30 16:08] maruilian11 commented on #63
if that is not enough, I'm happy to ask the building step for it.

[2016-09-30 17:57] iamolivinius commented on #64
I find this issue rather confusing :confused:

The title indicates that you have a problem with ember-data's `findRecord` method but in your last code example you're using the `query` method. Furthermore your screenshot of the browser storage explorer indicates that you're using a different serializer (looks like the JSONAPISerializer).

Nevertheless, if you try to use `query` to get a subset of a

[2016-10-18 15:14] #56 closed

[2016-10-18 15:20] frederikbosch commented on #58
Fixed by PR #65 .

[2016-10-18 15:20] #58 closed

[2016-10-18 15:21] frederikbosch commented on #64
Since @iamolivinius has valid points I will close this issue.

[2016-10-18 15:21] #64 closed

[2016-11-10 23:01] v3ss0n opened #67 "How to use localForage directly?"
I just need to use it directly to presist singleton data such as userid and settings.

[2016-11-11 09:34] frederikbosch commented on #67
[code]

Returns a promise. See https://localforage.github.io/localForage/.

[2016-11-11 09:34] #67 closed

[2017-01-28 04:35] akshaisarma opened #68 "A new release for uuid?"
Hello, thanks for the great adapter! I was able to very easily jump in and replace my existing local storage adapter.

I would love the uuid generation added in the last few months to get an official release. As of now, I am stuck with the 5 char id in 2.2.1, which seems a little small for my use case.

[2017-01-30 18:56] #68 closed

[2017-02-23 06:19] sankar-ganesh opened #69 "getting init issue in safari"
On initial load or when user come back after clearing the local store we see init problem only in web safari browser.

On init we are trying to set default values into the indexDB. Appreciate your help!!! Thanks

PS: No error in browser console

[2017-02-23 09:19] frederikbosch commented on #69
This needs more clarification. Show me something of your code. What Ember version are you on? What version of the adapter?

[2017-02-23 09:36] sankar-ganesh commented on #69
This is the adapter

[code]

In route I am doing this

[code]

[2017-02-23 09:38] frederikbosch commented on #69
What if you add localforage to your bower.json with version 1.5.0? Maybe there is a bug fixed for safari.

[2017-02-23 09:39] frederikbosch commented on #69
If so, we could update this package to reference a newer localforage version.

[2017-02-23 09:58] sankar-ganesh commented on #69
works like a champ :-) thanks!!!

shall we continue pointing to 1.5.0?

[2017-02-23 10:11] frederikbosch commented on #69
Yeah, if you could create a PR with the new version, that would be great.

[2017-02-24 10:19] sankar-ganesh commented on #69
Thanks, I will create a PR with the new version.

what would be the response here, if indexdb is not supported or failed to load by the browser

[2017-03-20 11:57] d-schloss-mvg opened #70 "Deprecation: _shouldSerializeHasMany"
With ember-data 2.12 the method `_shouldSerializeHasMany` has been deprecated and promoted to public API `shouldSerializeHasMany`

<pre>
DEPRECATION: The private method _shouldSerializeHasMany has been promoted to the public API. Please remove the underscore to use the public shouldSerializeHasMany method. [deprecation id: ds.serializer.private-should-serialize-has-many]
</pre>

[2017-03-20 11:59] frederikbosch commented on #70
@d-schloss-mvg Could you create a PR for this?

[2017-03-20 13:25] d-schloss-mvg commented on #70
I created a pull request, but obviously this works only for newer ember-data-versions where _shouldSerializeHasMany is already available without underscore.

[2017-04-11 14:03] sankar-ganesh opened #72 "Can I observe to IndexDB updates"
Is there a way I can observe to IndexDB actions like 'add', 'update', or 'delete'

[2017-04-11 14:04] frederikbosch commented on #72
Nope, why would you want to?

[2017-04-12 04:17] sankar-ganesh commented on #72
To keep multiple tabs that are open to be in sync?

[2017-04-12 08:18] frederikbosch commented on #72
Something like this should work. Requires [localForage observerable](https://github.com/localForage/localForage-observable) and a little extension to the default adapter to start observing.

[code]

[2017-04-12 08:18] #72 closed

[2017-04-12 15:12] sankar-ganesh commented on #72
I couldn't find window.localforage.newObservable

[2017-04-12 15:13] frederikbosch commented on #72
@sankar-ganesh See that link I posted in the previous message. You will need an additional library.

[2017-04-13 13:51] sankar-ganesh commented on #72
As these dependencies are not compatible like an addon ember build doesn't allow me to build it together with the app. By any chance, can i reload the datastore completely to get all of the latest value instead of observing it.

[2017-04-14 07:07] frederikbosch commented on #72
Why not? You can use

[code]

to import external libraries that you installed with bower.

[2017-04-14 07:35] sankar-ganesh commented on #72
BTW, the zen-observer and localforage-observable are not bower components either

[2017-04-14 07:46] frederikbosch commented on #72
Then copy the distributable to your vendor folder.

[2017-04-14 07:50] sankar-ganesh commented on #72
that's right but then it doesn't serve the deployment rules. Instead they have either served the es6 version or the dist folder which can't be used via app.import

[2017-04-14 07:55] frederikbosch commented on #72
Fair enough. Then you should create a PR that adds the feature here. I am prepared to merge it.

[2017-06-21 11:39] d-schloss-mvg commented on #70
Updated pull request #71 @frederikbosch

[2017-06-21 12:12] frederikbosch commented on #70
Will have a look soon! Thanks @d-schloss-mvg

[2017-09-25 18:20] johnunclesam commented on #70
Any news on this?

[2018-01-18 11:20] d-schloss-mvg opened #73 "Deprecation: ember-cli-version-checker since 2.18"
Starting a project (ember 2.18) with `ember-localforage-adapter` in package.json gets the following error on `ember serve`:

[code]

Updating to ember-cli-version-checker ^2.0.0 will mitigate this error.

See here: https://github.com/ember-cli/ember-cli-version-checker/issues/48

[2018-02-14 10:15] Driezzz commented on #73
I ge the same warning. It would also be nice to remove the bower dependency "localforage" since ember is moving away from bower_components.

[2018-02-14 10:32] Driezzz opened #74 "Request: remove bower_component "localforage" as dependency"
When performing `ember install ember-localforage-adapter`

it also installs a bower_component called 'localforage', woudl it be possible to remove this as a dependency? Or there any alternatives?

[2018-02-14 10:33] frederikbosch commented on #74
Driezzz, would you able to create a PR for this?

[2018-02-14 11:07] Driezzz commented on #74
@frederikbosch I'll try.

[2018-05-22 19:23] NullVoxPopuli commented on #74
Here is a hack:
[code]

[code]

but, it looks like I can't use the adapter anyway due to no module unification support. :-\

[2018-09-03 08:51] Driezzz opened #76 "Two new deprecations"
Two new deprecations have occured:

`Use of @ember/Map is deprecated. Please use native `Map` instead [deprecation id: ember-map-deprecation]`

This warning occurs in the file **/utils/cache**

`data: _ember['default'].Map.create(),`

-----------------------------------------------------

`Use of @ember/OrderedSet is deprecated. Please use native `Map` instead [deprecation id: ember-map-deprecatio

[2018-11-12 16:09] frederikbosch commented on #74
See master branch.

[2018-11-12 16:09] #74 closed

[2018-11-12 16:09] frederikbosch commented on #76
See master branch.

[2018-11-12 16:09] #76 closed

[2018-11-12 16:09] frederikbosch commented on #73
See master branch.

[2018-11-12 16:09] #73 closed

[2018-11-12 16:13] #70 closed

[2018-11-12 16:13] frederikbosch commented on #69
Locaforage updated to latest version, closed.

[2018-11-12 16:13] #69 closed

[2018-11-12 16:14] #43 closed

[2018-11-12 16:14] #59 closed

[2018-11-12 16:14] #38 closed

[2018-11-13 01:30] NullVoxPopuli opened #77 "Disabling cache in testing or clearing the cache between tests?"
I ran in to an issue between tests when I upgraded today (to beta.4), where having the cache no by default (previous version I was using didn't have cache), records were mistakenly being kept between tests.

I have this at the moment
[code]

with

[code]

and that gets all my tests passing! :tada:

but for having cache, (cause I assume this would make overall app usage slightly quicker?),
I need a

[2018-11-13 07:49] frederikbosch commented on #77
The way I did it yesterday.

1. [call setupTest(hooks)](https://github.com/genkgo/ember-localforage-adapter/blob/master/tests/integration/crud-test.js#L34).
2. [in each test, lookup the adapter in the container](https://github.com/genkgo/ember-localforage-adapter/blob/master/tests/integration/crud-test.js#L43).
3. [in each test, clear the cache](https://github.com/genkgo/ember-localforage-adapter/

[2018-11-13 07:49] #77 closed, assigned to nobody

[2018-11-16 13:37] frederikbosch opened #79 "[Version 3] Throw exceptions instead of reject"
Quote by @sukima in #78.

[2018-11-16 13:37] frederikbosch opened #80 "[Version 3] What to do with missing belongsTo relationships"
During the upgrade I did find out some things.

1. There is [code within Ember Data](https://github.com/emberjs/data/blob/master/addon/-private/system/store.js#L1004) that is focussing on this topic.
2. That code did fire during the upgrade of this addon to 3.0-betaX for has many relationships, but not for belongsTo. I have no idea why it did not. As my own app was not having troubles by it, I was

[2018-11-16 13:38] frederikbosch opened #81 "[Version 3] Handling of sync/async relationships"
Please take into account that this library uses a key/value store as backend. From our experience saving records in a separate key caused a gigantic load when it involved many records. Then for every relationships the adapter had to talk to localforage. This made the app unusable. Therefore we introduced a cache and caching setting at the level of the adapter. You can choose between fetching every

[2018-11-16 13:49] NullVoxPopuli commented on #81
I like the cache approach.
Have you tested it with > 10k records or other large numbers of things being accessed?

[2018-11-16 18:39] frederikbosch commented on #81
Our app has around 1k-2k records. I believe I did testing back then with many more records. But memory was eventually becoming a problem. Especially because it had to perform on mobile phones from 6 years ago. So the answer of the performance is, of course, dependant on the use case. Another benchmark would be nice.

[2019-05-11 12:01] NullVoxPopuli opened #82 "Polymorphic belongsTo"
Not sure if this'd be solved in adapter-space, or if I've configured something wrong. But I have the following models:

Identity
[code]
User
[code]

Contact
[code]

Message
[code]

My Adapter and Serializer config:
[code]

The problem I'm having is that I have a `Message` with sender id of a contact.

![image](https://user-images.githubusercontent.com/199018/57569414-ae803c00-73c2-11e9-89b6-fe519a

[2019-05-11 15:38] NullVoxPopuli commented on #82
Yeah, jsonapi is the one true way.
![image](https://user-images.githubusercontent.com/199018/57571865-36753e80-73e1-11e9-92e3-331be3acab27.png)

all the information is just right there :)

Just need to figure out how to get serialization and deserialization working better.

On the plus side, with jsonapi, we can delete the serializer for localforage-adapter :)